# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out
/www

# Node
/node_modules
npm-debug.log
yarn-error.log
package-lock.json

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Testing
/coverage
/cypress/videos
/cypress/screenshots
/cypress/downloads
*.log

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings

# Documentation
/docs/api
/docs/*.html

# Environment files
.env
.env.local
.env.*.local

# System files
.DS_Store
Thumbs.db
